*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/
.env
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
main
streaming-platform
*.log
*.db
*.sqlite

# Default build
Rohan-Srivastava_Golang-Backend-Practical-Task